body {
  background-color: rgba(255, 253, 253, 0.5);
}

.dark-mode {
  background-color: #302d2d;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.country-card-container {
  width: 33.3%;
}

.country-card:hover,
.border-button:hover {
  cursor: pointer;
}

.border-button {
  margin: 5px;
}

.country-card {
  background: white;
  border: 1px;
  border-radius: 5px;
  margin: 37px;
  width: 265px;
  height: 340px;
  box-shadow: 2px 2px 10px #888888;
}

.dark-cards {
  background-color: #302d2d;
  color: white;
  border: 1px;
  border-radius: 5px;
  margin: 37px;
  width: 265px;
  height: 340px;
  box-shadow: 2px 2px 10px #888888;
}

.image-container {
}

.flag-img {
  margin: 0;
  width: 265px;
  height: 160px;
  border-radius: 5px 5px 0 0;
  /* object-fit: inherit; */
  /* isolation: isolate;
  display: inline-block; */
}

.country-info {
  margin: 25px;
}

.bold-title {
  font-weight: 600;
}

.population,
.region,
.capital {
  margin: 5px 0;
}

.flag-image-lrg {
  width: 530px;
  height: 320px;
}

.dark-mode {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
  background-color: hsl(209, 23%, 22%);
}

.card-dark-mode {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
}
